<div class="row">
  <a href="{{url}}">
    <div class="col-md-8 col-md-offset-2 col-xs-12 overview-blog">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="overview-blog-description-outer-box">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="pull-left overview-blog-title-box full-width">
                  <div class="overview-blog-title h3 left">{{title}}</div>
                </div>
                <div class="pull-left overview-blog-meta full-width">
                  <div class="date"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time></div>
                </div>
                <div class="pull-left overview-project-description-box">
                  <div class="overview-blog-description">
                    <h4 class="overview-project-subtitle light">{{custom_excerpt}}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>