<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="google-site-verification" content="5Qzgyo7NbFa6CdsYWuVKruJeaK-a-eCgZKg7DXh0VoE" />
    
    <link rel="canonical" href="https://www.bastiangeneugelijk.com" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" id="koenig-css" href="{{asset "css/koenig.css"}}" type="text/css" media="all">
    <link rel="stylesheet" id="bootstrap-css" href="{{asset "css/bootstrap.min.css"}}" type="text/css" media="all">
    {{!-- <link rel="stylesheet" type="text/css" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/themes/prism.min.css"/> --}}
    <link rel="stylesheet" id="highlightjs-style" href="{{asset "css/highlightjs-tomorrow-night-blue.css"}}" type="text/css" media="all">

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>
<body class="{{body_class}}">
  {{{body}}}

  <footer></footer>

  {{{block "scripts"}}}

  {{ghost_foot}}

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-38394966-2', 'auto');
    ga('send', 'pageview');
  </script>
  <script type="text/javascript" src="{{asset "js/highlight.pack.js"}}"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  {{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/prism.min.js"></script> --}}
  {{!-- {{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/components/prism-sql.min.js"></script> --}} --}}
  {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/plugins/autoloader/prism-autoloader.min.js"></script> --}}
</body>
</html>